<!DOCTYPE html>
<html>
  <head>
    <title>CreaScrapingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul>
      <li><%= link_to("【記事ID登録】", "/") %></li>
      <li><%= link_to("【ストック一覧】", "/show") %></li>
    </ul>
    </header>
    <%= yield %>
  </body>
</html>
